.Contact-footer {
  background-color: #5282ff;
  padding: 17px 28px;
  border-radius: 2px;
}
.red-contact {
  background-color: red;
}
.Contact-footer h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.41px;
  text-align: left;
  color: white;
  text-transform: capitalize;
  padding-bottom: 7px;
  border-bottom: 1px solid #ffffff;
}
.Contact-contact-sosial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.Contact-contact-us {
  display: flex;
  flex-direction: column;
}
.Contact-contact-us h6 {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: white;
}
.Contact-contact-sosial div h5 {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
  color: white;
}
.Contact-sosial-icons {
  padding-top: 10px;
  display: flex;
  align-self: flex-end;
}
.Contact-sosial-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .Contact-contact-sosial div h5 {
    padding: 20px 0;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
  }
  .Contact-footer {
    padding: 33px 38px;
    border-radius: 10px;
    width: 32%;
    height: max-content;
  }
  .Contact-footer h5 {
    font-size: 20px;
    line-height: 29.11px;
    padding-bottom: 12px;
  }
  .Contact-contact-sosial {
    flex-direction: column;
    gap: 0;
  }
  .Contact-contact-us {
    padding: 20px 0 0 0;
  }
  .Contact-contact-us h6 {
    font-size: 20px;
    line-height: 40px;
  }

  .Contact-sosial-icons {
    padding: 20px 0 0 0;
    align-self: inherit;
    margin-left: -15px;
  }
  .Contact-sosial-icons img {
    width: 49px;
    height: 49px;
  }
}
