.slider-second-desktop-version {
  height: 110%;
  width: 85%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.slider-second-mobile-version {
  width: 90%;
  margin: 0 auto;
}
.containerSliderSecondsNew {
  display: flex;
  flex-direction: column;
  align-items: center;
}
swiper-slide {
  position: relative;
  padding: 10px 0;
  z-index: 1000;
}
swiper-container {
  position: relative;
  z-index: 0;
}
.swiper-button-prev,
.swiper-button-next,
.swiper-button-prev .swiper-button-disabled {
  z-index: 1000000;
  color: #2a353d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
}

.swiper-button-next {
  background: #efefef;
  right: -5%;
}

.swiper-button-prev {
  background: #efefef;
  left: -5%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 14px;
  width: 27px;
  height: 27px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  swiper-container {
    padding: 0px 10px;
  }
}
