.top-clinic__carousel {
  display: none;
}
.top-clinic__mobile-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.top-clinic__item-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 16px 0 0 12px;
}
.top-clinic__item-footer-subtitle img {
  width: 11px;
  height: 11px;
}
.top-clinic__item-footer-subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.top-clinic__item-footer-subtitle span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #828282;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.top-clinic__item-footer-title {
  padding: 5px 0 10px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.41px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.top-clinic__item-footer-stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.top-clinic__location {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.top-clinic__item-footer-stars span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}
.top-clinic-stars {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-clinic__button {
  border-radius: 5.72px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  font-size: 12.3px;
  font-weight: 500;
  line-height: 14.91px;
}
.top-button__active,
.top-button__passive {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.98px;
  border-radius: 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-button__active {
  padding: 6px 16px;
}
.top-button__passive {
  color: black;
}
.d-mobile-block {
  display: block;
}
.top-clinic__header-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin: 22px 0 18px 0;
}
.top-clinic__header-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.top-clinic__header-right-btns {
  display: flex;
  align-items: center;
  gap: 12px;
}

.top-clinic__item-top {
  border-radius: 10px;
  width: 100%;
  height: 345px;
  position: relative;
  overflow: hidden;
}
.top-clinic__button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 30px 0;
}
@media (max-width: 768px) {
  .top-clinic__item-top {
    height: 235px !important;
  }
}
.top-clinic__item-img {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: 0 0;
}
.top-clinic__item-num {
  position: absolute;
  top: 0;
  left: 34px;
  width: 47px;
  height: 40px;
  background-color: #fa1323;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-clinic__item-num::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: -13px;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 14px solid #fa1323;
}
.top-clinic__item-heart {
  position: absolute;
  top: 13px;
  right: 16px;
  /* background-color: #fff; */
  width: 37px;
  height: 37px;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.clinic__item-footer-subtitle {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 18px;
  text-transform: capitalize;
  color: #828282;
  display: flex;
  gap: 10px;
  align-items: center;
}
.clinic__item-footer-title {
  margin: 8px 0 12px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clinic__item-footer-stars {
  display: flex;
  gap: 10px;
}

.top-clinic_item {
  width: 94%;
  cursor: pointer;
  margin: auto;
}
.ant-rate {
  font-size: 15px !important;
}

.top-clinic__carousel {
  position: relative;
}

@media (min-width: 1024px) {
  .top-clinic {
    background-color: #f8f8f8;
    padding-bottom: 30px;
  }
  .top-clinic__carousel {
    display: block;
  }
  .top-clinic .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .top-clinic .container .top-clinic__header-title {
    margin: 22px 0 0 0;
    width: 80%;
    order: 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 46.55px;
  }
  /* .top-clinic .container .top-clinic__header-btns {
    width: 75%;
    order: 1;
  } */
  .top-clinic .container .top-clinic__button_container {
    width: 20%;
    order: 1;
    align-self: flex-end;
    justify-content: flex-end;
    margin: 0;
  }
  .top-clinic .container .top-clinic__carousel {
    width: 100%;
    order: 2;
    margin-top: 30px;
  }
  .top-clinic__button {
    min-width: 240px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 24.26px;
    padding: 20px 24px;
  }
  .top-clinic__mobile-items {
    display: none;
  }
  .top-button__active,
  .top-button__passive {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    border-radius: 5px;
  }
  .top-button__active {
    padding: 20px 24px;
  }
  .top-clinic_item {
    width: 100%;
  }
  .top-clinic__item-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 17px 0 0 7px;
  }
  .top-clinic__item-footer-subtitle img {
    width: 15px;
    height: 15px;
  }
  .top-clinic__item-footer-subtitle {
    gap: 12px;
  }
  .top-clinic__item-footer-subtitle span {
    font-size: 17px;
    line-height: 21px;
  }
  .top-clinic__item-footer-title {
    padding: 8px 0 12px 0;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    width: 100%;
  }
  .top-clinic__item-footer-stars {
    gap: 12px;
  }
  .top-clinic__item-footer-stars span {
    font-size: 17px;
    line-height: 21px;
  }
  .top-clinic-stars svg {
    width: 17px;
    height: 17px;
  }
  .top-clinic__location {
    padding-bottom: 1px;
  }
}
