.displayGridReviewDr{
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 3fr);
    gap: 30px;
    padding-top: 30px;
}


.display_grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    width: 131px;
}
@media(min-width:1295px) and (max-width:1451px){
    .doctorss{
        /* grid-template-columns: minmax(auto, 2fr) minmax(auto, 1fr); */
        gap: 0px;
        grid-template-columns: 35% 65% !important;
    }
}
.doctorss .card-body{
    width: 90% !important;
}
@media(min-width:1025px) and (max-width:1294px){
    .doctorss{
        /* grid-template-columns: minmax(auto, 2fr) minmax(auto, 1fr); */
        gap: 0px;
        grid-template-columns: 35% 65% !important;
    }
    .doctorss .card-body{
        padding-left: 20px !important;
    }
    
    .cardReviewDoctors a,
    .cardReviewDoctors p,
    .cardReviewDoctors span{
        font-size: 10px !important;
    }
    
}
.cardReviewDoctors-main{
    display: flex !important;
    border: 0.705342px solid #DADADA;
    border-radius: 11px;
    height: 178px;
    padding: 15px;
    margin-top: 20px;
    background-color: #FAFAFA;
}
.cardReviewDoctors-active{
    background-color: #5282FF !important;
}

#doctorImage{
    grid-column: 1/13;
    grid-row: 1/13 ;
    object-fit: cover;
    width: 131px;
    height: 144px;
}
#likeImage{
    grid-column: 11/12;
    grid-row: 1/2;
    padding-top: 9px;
    object-fit:cover;
    transform: translateX(-10px);
}
.buttonsNav{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.doc-nav-btn{
    background-color: #ECECEC;
    color: #000;
    height: 36px;
    padding-left: 29px;
    padding-right: 29px;
}
.doc-nav-btn-active{
    color: white;
    background-color: #5282FF;
}
.card-body{
    width: 769px;
    padding-left: 40px;
}

.card-title{
    color: #464646;
    font-size: 16px;
    margin: 0;
}
.card-text{
    color: #464646;
    font-size: 16px;
    margin: 0;
}
.review-doctors-pagination{
    display: flex;
    justify-content: center;
    padding: 25px 0;
}
.breadcrumbs {
    border-bottom: 1px solid #E7E7E7;
    padding: 20px -0px;
}
.menuRight{
    margin-left: 15px;
}
@media(max-width:400px){
    .card-footerr{
        flex-direction: column !important;
    }
}
@media(max-width:767px){
    .review-doctors-pagination{
        display: none;
    }
    .menuNav li{
        font-size: 12px !important;
    }
}
@media (max-width: 1024px) {
    .cardReviewDoctors-main .card-body{
        padding-left: 10px !important;
        padding-right: 0 !important;
    }
    .displayGridReviewDr{
       display: flex !important;
       flex-direction: column;
       padding-bottom: 20px;
    }
    .menuRight{
        grid-row: 1;
        order: 1 !important;
    }
    .buttonsNav{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        display: none;
    }
    .card-body{
        width: auto!important;
    }
    .menuNav{
        order: 2 ;
    }

}


@media (max-width: 756px) {
    .cardReviewDoctors-main{
        /*flex-direction: column;*/
        height: auto;
        align-items: center;
    }
    .display_grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
        width: 170px;
    }
    #doctorImage{
        width: 100%;
        object-fit: cover;
    }
    .doc-nav-btn{
        padding-left: 9px;
        padding-right: 9px;
        font-size: 12px;
    }
    .card-title{
        font-size: 10px;
    }
    .card-text{
        font-size: 10px;
    }
    .card-body{
        padding-left: 15px;
    }
    .review-doctors-pagination{
        /* display: none; */
    }
    .breadcrumbs {
        border-bottom: none;
        padding: 0;
    }

}


@media(min-width:1024px) and (max-width:1650px){
    .displayGridReviewDr{
        /* grid-template-columns: minmax(auto, 2fr) minmax(auto, 1fr); */
        gap: 0px;
        grid-template-columns: 35% 65% !important;
    }
}