.hospital-detail-container {
  padding: 22px 0 28.75px 0;
}
.detail__info-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 3rem auto 2rem;
}
.detail__info-btn {
  background-color: #d8e6ff;
  padding: 1rem 2rem;
  border: none;
}

.content__search {
  background-color: #5282ff;
  color: #fff;
  margin-bottom: 1rem;
  padding-top: 0.3rem;
}

.content__search-checkbox span {
  color: #fff !important;
}

.content__location {
  background-color: #fff;
  padding: 1.5rem;
}

.hospital-detail_img-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 135px);
  gap: 22px;
}
.hospital-detail_img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hospital-detail_img-lg {
  grid-column: span 2;
  grid-row: span 3;
  position: relative;
}
.detail_img-lg--rating {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  background-color: #fff;
  padding: 7px 13px;
  gap: 5px;
  font-size: 13px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.detail_img-lg--rating-num {
  background-color: #5282ff;
  padding: 5px;
  color: #fff;
}

.detail_img-lg--desc {
  position: absolute;
  font-size: 12px;
  top: 70px;
  right: 20px;
  background-color: #fff;
  max-width: 262px;
  padding: 18px;
  border-radius: 4px;
}

.img-lg-desc-btn {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border: none;
  background-color: #5282ff;
  color: #fff;
  padding: 7px 10px;
  border-radius: 2px;
}
.img-lg-desc-btn img {
  width: 17px;
  height: 17px;
}
.img-lg-desc-num {
  border-radius: 2px;
  background-color: #fff;
  color: #084bc2;
  font-weight: 600;
  padding: 5px;
}

.hospital-detail_img-more {
  position: relative;
}
.hospital-detail_img-more-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(40, 64, 181, 0.66);
  color: #fff;
}
.hospital-detail_img-slider {
  display: none !important;
}

.detail__clinic-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin: 20px 0;
}
.detail__clinic-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: #fff;
  padding: 13px 30px;
  border-radius: 5px;
}

.categories__carousel-item-btn {
  background: #eeeeee;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  border: none;
  width: 100%;
}
.btn-left {
  transform: translateX(-10%);
}
.btn-first {
  width: 100%;
}

.hospital-detail__reviews {
  background-color: #5282ff;
  margin-bottom: 41px;
  padding: 51px 0;
  margin-top: 10px;
}
.reviews__carousel {
  position: relative;
}
.reviews__header {
  color: #fff;
}
.reviews__header-title {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  margin: 10px 0;
}
.reviews__header-subtitle {
  display: flex;
  align-items: center;
  gap: 5px;
}
.subtitle__rating {
  background-color: #fff;
  color: #000;
  padding: 6px 9px;
  border-radius: 4px;
}
.reviews__header-subtitle a {
  display: inline-block;
  color: #fff;
  margin-right: 5px;
}
.reviews__carousel-item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10px;
}
.reviews__carousel-item-content {
  padding: 28px 35px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
  color: #464646;
}
.reviews__carousel-item-content a {
  color: #5282ff;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
}
.reviews__carousel-item-footer {
  background-color: #ffc224;
  padding: 16px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews__carousel-item-footer p {
  display: flex;
  align-items: center;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-align: justify;
  color: #0032a0;
  gap: 1rem;
}
.item__footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d5ceff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-size: 18px;
}

.item__footer-rating {
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
}

@media (max-width: 1023px) {
  .content__search {
    display: none;
  }
  .hospital-detail_img-box {
    display: none;
  }
  .hospital-detail_img-slider {
    display: block !important;
  }
  .hospital-detail_img-slider img {
    width: 100%;
    height: 210px;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .detail__info-btns {
    display: none;
  }
  .hospital-detail_img-slider {
    display: block !important;
  }
  .hospital-detail_img-slider img {
    width: 100%;
    height: 210px;
    object-fit: cover;
  }
  .detail__clinic-btn {
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    padding: 13px 20px;
  }
  .reviews__header-title {
    font-size: 18px;
  }
  .reviews__header-subtitle {
    font-size: 14px;
  }
  .reviews__carousel-item-content {
    font-size: 12px;
    padding: 1rem;
  }
  .reviews__carousel-item-content p {
    margin: 0;
  }
  .reviews__carousel-item-content a {
    display: none;
  }
  .reviews__carousel-item-footer {
    padding: 8px 18px;
  }
  .reviews__carousel-item-footer p {
    gap: 10px;
    font-size: 12px;
  }

  .item__footer-icon {
    font-size: 12px;
    width: 24px;
    height: 24px;
  }
  .item__footer-rating {
    display: none;
  }
}

@media (max-width: 756px) {
  .detail__clinic-btn {
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .hospital-detail_img-slider .slick-arrow {
    display: block !important;
  }
  .hospital-detail_img-slider .slick-next {
    right: 0 !important;
  }
  .hospital-detail_img-slider .slick-prev {
    left: 20px !important;
    z-index: 1000000 !important;
  }
  .content__location {
    background: transparent !important;
  }
  .hospital-detail_img-slider .slick-arrow {
    background: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hospital-detail__reviews {
    padding: 10px 0 !important;
  }
  .hospital-detail-container .ant-btn.ant-btn-block {
    height: 40px !important;
    font-size: 12px !important;
  }
  .read-btn {
    display: none !important;
  }
}
.categories__carousel-item {
  width: 100% !important;
}
.categories__carousel-item-btn {
  width: 100% !important;
}

@media (min-width: 1024px) {
  .hospital-detail-container {
    padding: 40px 0 51.47px 0;
  }
  .detail__clinic-btns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
