.geography {
  padding: 25px 0 50px 0;
  width: var(--mobile);
  margin: 0 auto;
}

.geography .title h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.15px;
  text-align: center;
  color: #000000;
}

.geography .title h5 {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: #2a353d;
  padding: 2px 0 5px 0;
}
.country-partnerships {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.country-partnership {
  display: flex;
  align-items: center;
  gap: 7.88px;
}
.country-partnership h6 {
  font-size: 12.22px;
  font-weight: 500;
  line-height: 22.88px;
}
.country-partnership img {
  width: 28px;
  height: 28px;
}

@media (min-width: 1024px) {
  .geography {
    padding: 67px 0 78px 0;
    width: var(--desktop);
  }
  .geography .title h4 {
    font-size: 33px;
    line-height: 36.48px;
    text-align: center;
  }
  .geography .title h5 {
    font-size: 20px;
    color: #2a353d;
    padding: 6px 0 60px 0;
  }
  .country-partnerships {
    gap: 100px;
  }
  .country-partnership {
    flex-direction: column;
    gap: 24px;
  }
  .country-partnership h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 36.48px;
    text-align: center;
  }
  .country-partnership img {
    width: 79px;
    height: 79px;
  }
}
@media (min-width: 1440px) {
  .geography {
    width: var(--big-desktop);
  }
}
