@font-face {
    font-family: "Inter";
    src: url("../../../src/Fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Gilroy";
    src: url("../../../src//Fonts/gilroy/Gilroy-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../../Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Poppins-Test";
    src: url("../../Fonts/Poppins/Poppins-Regular");
}
.buttonsSort {
    justify-content: space-between;
    margin-top: 20px;
    display: none;
}

.menuNav-hospitals {
    border: none;
  
    width: 325px;
}
@media(max-width:1024px){
    .menuNav-hospitals{
        width: 100% !important;
    }
    .mapEmbed,.mapEmbed iframe{
        width: 100% !important;
    }
}
@media(min-width:757px) and (max-width:1200px){
    .card-section1{
     width: 65% !important;
     font-size: 11px !important;
     margin-top: 20px;
    }
    .card-section2{
     font-size: 11px !important;
     position: absolute;
     margin-top: 5px;
     right: 0;
    }
    .header-card{
     margin-bottom: 20px;
    }
    #hospitalsImage{
     width: 170px !important;
     height: 170px !important;
    }
    .card-body{
     padding-left: 70px !important;
    }
    
 }
 @media(max-width:1440px){
    .card-button2{
        width: unset !important;
        height: unset !important;
        padding-right: 15px;
    }
    .card-button1{
        width: max-content !important;
        height: unset !important;
    }
    .card-buttons{
        padding-left: 0 !important;
    }
    .cardReviewDoctors{
        height: unset !important;
    }
}
 .card-body{
     padding-left: 100px !important;
    }
 @media(min-width:1650px){
 .card-body{
     padding-left: 50px !important;
    }}
/* .card-bodyy{
    padding-left: 100px !important;
} */
.card-content{
    width: 80% !important;
}
.cardReviewDoctors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 260px;
    border-radius: 15px;
    margin: 35px 0;
    padding: 15px;
    color: #000;
    background-color: #FAFAFA ;
    border: 1px solid #EFEFEF !important;
}
.cardReviewDoctors-active .changed{
    color: #fff;
}
.cardReviewDoctors-active{
    display: flex;
    justify-content: space-between;
}
#hospitalsImage{
    grid-column: 1/13;
    grid-row: 1/13;
    object-fit: cover;
    width: 220px;
    height: 225px;
    border-radius: 8px;
}

.hospitals-pagination{
    display: flex;
    justify-content: center;
    padding: 25px 0;
}


@media (max-width: 756px) {
    .buttonsSort {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .menuNav-hospitals {
        display: none !important;
    }
    .cardReviewDoctors{
        flex-direction: column;
        height: auto;
        border-radius: 15px;
        margin: 35px 0;
        padding: 15px;
    }
    #hospitalsImage{
        grid-column: 1/13;
        grid-row: 1/13;
        object-fit: cover;
        width: 100%;
        height: 225px;
    }
    .hospitals-pagination{
        display: flex;
        justify-content: center;
        padding: 0 0 35px;
    }

}
.display_grid{
    grid-template-rows: unset;
}
.loading{
    display: inherit;
    position: relative;
    font-size: 0px;
    top: 20px;
    left: 50% !important;
    width: 60px;
    height: 60px;
}
 .cardReviewDoctors .card-content-mobile .card-header p, .cardReviewDoctors-active .card-content-mobile .card-header .anticon,.cardReviewDoctors .card-content-mobile .card-header a, .cardReviewDoctors .card-content-mobile .card-header h3{
    color: #000 !important;
 }
 .cardReviewDoctors-active .card-content-mobile .card-header p,.cardReviewDoctors-active .card-content-mobile .card-header .anticon, .cardReviewDoctors-active .card-content-mobile .card-header a, .cardReviewDoctors-active .card-content-mobile .card-header h3{
    color: #fff !important;
 }
 
 .cardReviewDoctors .card-content-mobile .card-header h3{
    padding-left: 0 !important;
 }