.footer-copy {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerIcons {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.footerArea {
  width: var(--mobile);
}
.footerDescription {
  border-bottom: 1px solid #91afff;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
}
.footer-textMed {
  font-weight: 400;
  color: white;
  font-size: 18px;
  color: #5282ff;
  background-color: white;
  border-radius: 10px;
  border: 1px solid white;
  padding: 0 10px;
  font-family: "Alfa-Slab-One";
}
.footer-description a:visited,
.footer-description a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}
.footer-social {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .footerIcons {
    border-top: 1px solid #91afff;
    padding: 30px 0;
    flex-direction: row-reverse;
  }
  .rowGrid {
    padding-bottom: 30px;
    border-bottom: none !important;
  }
  .footer-textMed {
    font-size: 22px;
  }
  .footer-social {
    width: 49px;
    height: 49px;
  }
  .footerDescription {
    border-bottom: 1px solid #91afff;
    padding: 0 0 15px 0;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    font-size: 12px;
    margin-bottom: 15px;
  }
  .footerArea {
    margin: 0 auto;
    width: var(--desktop);
  }
}
@media (min-width: 1440px) {
  .footerArea {
    width: var(--big-desktop);
  }
}
