.footer-textMed {
  font-weight: 400;
  color: white;
  font-size: 18px;
  color: #5282ff;
  background-color: white;
  border-radius: 10px;
  border: 1px solid white;
  padding: 0 10px;
  font-family: "Alfa-Slab-One";
}
.footer-description a:visited,
.footer-description a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}
.footer-social {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .footer-textMed {
    font-size: 22px;
  }
  .footer-social {
    width: 49px;
    height: 49px;
  }
  .footerDescription {
    border-bottom: 1px solid #91afff;
    padding: 0 0 15px 0;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    font-size: 12px;
    margin-bottom: 15px;
  }
  .footerArea {
    margin: 0 auto;
    width: var(--desktop);
  }
}
