.footer-textMed {
  font-weight: 400;
  color: white;
  font-size: 18px;
  color: #5282ff;
  background-color: white;
  border-radius: 10px;
  border: 1px solid white;
  padding: 0 10px;
  font-family: "Alfa-Slab-One";
}

.footer-social {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .footer-textMed {
    font-size: 22px;
  }
  .footer-social {
    width: 49px;
    height: 49px;
  }
}
