.comment {
    margin: 10px 0px 0px 0px !important;
}

.fav-card-mob {
    display: none;
}

.cardFavDoctors {
    display: flex;
    height: 226px;
    margin: 0 0 12px;

    border: 1px solid #EFEFEF;
    background-color: #FAFAFA
    ;
    
}
#favDoctorImage{
    margin-top: 10px;
    width: 194px;
    height: 194px;
}
.doctor-fav {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 194px !important;
    height: auto !important;
    padding-left: 13px;
}
.fav-card-mob.card-body{
    padding-left: 20px !important;
}
@media(min-width:1295px) and (max-width:1451px){
    .doctorss{
        /* grid-template-columns: minmax(auto, 2fr) minmax(auto, 1fr); */
        gap: 0px;
        grid-template-columns: 35% 65% !important;
    }
}
.doctorss .card-body{
    width: 90% !important;
}

@media(min-width:1295px) and (max-width:1451px){
    .doctorss{
        /* grid-template-columns: minmax(auto, 2fr) minmax(auto, 1fr); */
        gap: 0px;
        grid-template-columns: 35% 65% !important;
    }

    .doctorss .card-body{
        padding-left: 20px !important;
    }
    
    .cardReviewDoctors a,
    .cardReviewDoctors p,
    .cardReviewDoctors span{
        font-size: 10px !important;
    }
    
}
.cardFavDoctors-active{
    background-color: #5282FF !important;
    padding-left: 20px;
    border-radius: 10px;
}
.cardFavDoctors-active .changed{
    color: #fff !important;
}
@media (max-width: 756px) {
    .cardReviewDoctors {
        flex-direction: column;
    }
    .cardFavDoctors{
        flex-direction: column;
        /*align-items: center;*/
        height: auto;
    }
    .fav-card-body {
        display: none;
    }

    .fav-card-mob {
        display: block;
        margin-top: 19px;
    }
    #favDoctorImage{
        margin-top: 10px;
        width: 80vw;
        height: 280px !important;
        object-fit: cover;
        height: auto;
    }
    .doctorFav{
        margin-right: 40%;}

}
#favDoctorImage{
    object-fit: cover;
    border-radius: 10px;
}
.card-body{
    padding-right: 15px;
}