.special-offers {
  margin-top: 30px;
}
.foreign-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.foreign-subtitle {
  margin: 4px 0 23px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  width: 75%;
}
.bestOffer-box a:nth-child(odd) .CardBannerTypeOne-title {
  background: #56c661;
}

.bestOffer-box a:nth-child(even) .CardBannerTypeOne-title {
  background: #ffc224;
}
.container-foreign {
  width: var(--desktop);
}
@media (min-width: 1024px) {
  .foreign-title {
    font-size: 32px;
    line-height: 46.55px;
  }
  .foreign-subtitle {
    margin: 11px 0 34px 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.69px;
  }
  .special-offers {
    margin: 33px 0 47px 0;
  }
  .slider-third-doctor {
    width: 100%;
  }
}
