.react-international-phone-input,
.react-international-phone-country-selector-button {
  background-color: #f9f9f9 !important;
  height: 34px !important;
  border-radius: 0 !important;
}
.react-international-phone-input {
  overflow: hidden;
  width: 100%;
}
.react-international-phone-input-container {
  border: none !important;
  height: 34px !important;
  border-radius: 0px;
}
.menuNav {
  border: 1px solid #ebebeb;
  border-radius: 5px !important;
}
.displayGrid {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 30px;
  padding-top: 30px;
}

.userForm {
  border: 1px solid #ebebeb;
  border-radius: 5px !important;
  padding: 40px;
  background-color: #ffffff;
}

.menuNav > ul > li:hover {
  background-color: #f2f5ff;
  border-radius: 5px !important;
}
.menuNav > ul {
  padding-left: 0 !important;
}

.inputName {
  background-color: #f9f9f9 !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 0 !important;
  padding: 5px;
}
.lastInputName {
  background-color: #f9f9f9 !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 0 !important;
  padding: 5px;
}

.emailInput {
  background-color: #f9f9f9 !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 0 !important;
  padding: 5px;
}
.passwordInput {
  background-color: #f9f9f9 !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 0 !important;
  padding: 5px;
}
.datePicker {
  background-color: #f9f9f9 !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 0 !important;
  padding: 5px;
  width: 100%;
}
.phone-select .ant-select-selector {
  height: 34px !important;
}
@media (max-width: 756px) {
}
@media (max-width: 991px) {
  .displayGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .container {
    width: 90% !important;
  }

  .userForm {
    grid-row: 1;
    padding: 10px;
  }
  .menuNav {
    grid-row: 2;
  }
}

@media (min-width: 1295px) and (max-width: 1451px) {
  .displayGrid {
    /* grid-template-columns: minmax(auto, 2fr) minmax(auto, 1fr); */
    gap: 0px;
    grid-template-columns: 35% 65% !important;
  }
}
.displayGrid .card-body {
  width: 90% !important;
}

.ant-tabs-tab-btn {
  font-size: 15px;
}
