@font-face {
  font-family: "Merriweather";
  src: url("./Fonts/TypoGraphica/IBMPlexSansHebrew-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Alfa-Slab-One";
  src: url("./Fonts/Alfa-Slab-One/AlfaSlabOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-Regular-AZ_0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-Medium-AZ_0.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-SemiBold-AZ.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-Bold-AZ.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/gilroy/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* @font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
} */

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* @font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
} */

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* @font-face {
  font-family: "Gilroy";
  src: url("../../Fonts/gilroy/gilroy/Gilroy-Medium-AZ_0.ttf");
}*/

@font-face {
  font-family: "Poppins-Test";
  src: url("../../Fonts/Poppins/Poppins/Poppins-LightItalic.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../../Fonts/Inter/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  text-decoration: none;
}
:root {
  --desktop: 80%;
  --mobile: 90%;
}
.overflowHidden {
  overflow-y: hidden !important;
}

@media (max-width: 1024px) {
  .show {
    right: 0 !important;
    overflow-x: visible !important;
    height: calc(102vh - 105px);
  }
}
@media (max-width: 768px) {
  .question-text,
  .profile-text {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .contact-btn {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px !important;
  }
  .footerIcons img {
    width: 18px;
    height: 18px;
  }
  .copyright {
    font-size: 12px;
  }
  .mobileMenu {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .login-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }
  .ant-divider-horizontal {
    margin: 10px 0 20px 0;
  }
  .input {
    padding: 0.7rem 0.8rem;
    background: #f4f4f4;
    border: 1px solid #dedede;
    font-size: 12px;
  }
  .ant-btn.ant-btn-lg {
    font-size: 12px;
    border-radius: 3px;
    margin-bottom: 0;
  }
  .ant-btn.ant-btn-lg {
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #56c661;
    box-shadow: none;
  }
  .ant-form-item {
    margin-bottom: 10px;
  }
}

.ant-btn-primary {
  background-color: #5282ff;
}
/* @media(min-width:1024px){ */
.react-multi-carousel-track {
  padding: 60px 0;
}
.card {
  width: 100%;
  /* margin-right: 40px */
}
.react-multi-carousel-item {
  margin-right: 40px;
}

/* } */
.react-multiple-carousel__arrow::before {
  color: #000;
}
.react-multiple-carousel__arrow {
  background: #efefef;
}

.menu {
  top: 95px;
}
