/* 
 .swiper-container{
  padding-left: 0 !important;
}
 .swiper-slide{
  margin-left: 0 !important;
  width: 30% !important;
  height: 426px !important;
  margin-right: 70px !important;

}.swiper-slide .card{
  width: 95% !important;
  height: 426px !important;
}

@media(min-width:1300px) and (max-width:1439px){
  .swiper-slide{
    width: 30% !important;
    margin-right: 35px !important;
  }
}
@media(min-width:1024px) and (max-width:1299px){
  .swiper-slide{
    width: 33% !important;
    margin-right: 0 !important;
  }
}
@media(min-width:992px) and (max-width:1023px){
  .swiper-slide{
    width: 33% !important;
    margin-right: 0 !important;
  }
}
@media(min-width:576px) and (max-width:991px){
  .swiper-slide{
    width: 50% !important;
    margin-right: 0 !important;
  }
}
@media(max-width:575px){
  .swiper-slide{
    width: 90% !important;
    margin-right: 0 !important;
    height: 286px !important;
  }
  .swiper-slide .card{
    width: 95% !important;
    height: 286px !important;
  }
}

 .swiper{
  margin-left: 0 !important;
  width: 98% !important;
  margin: auto !important;
}
 .swiper-wrapper{
  margin-left: -30px !important;
  
}

.slider-section{
  position: relative;
}
.home-swiper-button-prev{
  position: absolute;
  left: -50px;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background: #EFEFEF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
}
.home-swiper-button-next{
  position: absolute;
  right: -50px;
  border: none;
  outline: none;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background: #EFEFEF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width:576px){
  .home-swiper-button-next,.home-swiper-button-prev{
    display: none;
  }

} */
.slick-slide{
  width: 100% !important;
  margin-left: 10px;
}
.slick-center{
  transform: scale(1.14); 
}
.slick-track{
  display: flex;
  align-items: center;
  padding: 40px 0;
  margin-left: -10px;
}
.slick-active{
  margin: 0 30px;
}
.slick-slide .card{
  width: 100% !important;
  margin: unset !important;
}
/* .slick-list{
margin-left: -40px !important;
} */

.slick-slider{
  width: 96% !important;
  margin: auto !important;
}
@media(max-width:767px){
  .slick-arrow{
    display: none !important;
  }
}
@media(min-width:400px) and (max-width:767px){
  .slick-slide:first-child{
    margin-left: -0.4% !important;
  }
  .slick-active{
    margin: 0 15px !important;
  }
}
@media(min-width:768px){
  .slick-slide:first-child{
    margin-left: -0.1% !important;
  }
}
.slick-next:before{
  content: url(./assets/Images/icons8-right-chevron-15.png) !important;
  /* transform: scale(.7); */
  position: absolute;
  top: 10%;
  right: 20%;
}
.slick-next{
  width: 27px;
  height: 27px;
  background: #EFEFEF !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -30px;
}


.slick-prev:before{
  content: url(./assets/Images/icons8-left-chevron-15.png) !important;
  /* transform: scale(.7); */
  position: absolute;
  top: 10%;
  right: 20%;
}
.slick-prev{
  width: 27px;
  height: 27px;
  background: #EFEFEF !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
}
@media(max-width:992px){
  .slick-next,.slick-prev{
    margin-right: -10px !important;
  }
}