.bestOffer-title {
  padding: 14.44px 0 16px 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.52px;
  text-transform: capitalize;
}
.bestOffer-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10.68px;
}
.slider-second-desktop-version swiper-slide:nth-child(odd) .small-title {
  background: #56c661;
}

.slider-second-desktop-version swiper-slide:nth-child(even) .small-title {
  background: #ffc224;
}
@media (min-width: 1024px) {
  .bestOffer-title {
    padding-top: 30px;
    font-size: 32px;
    line-height: 46.55px;
  }
  .bestOffer-box {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 32px 20px;
  }
}
