.faq-section {
  background-color: #f2f2f2;
  padding: 27px 0;
}
.faq-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: var(--mobile);
}
.faq-left {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
}
.faq-right {
  display: none;
}
.faq-questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.faq-header {
  display: flex;
  gap: 8px;
}
.faq-question {
  padding: 4px 17px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background: #e9e9e9;
}

.faq-question-title {
  color: #5f5f5f;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.53px;
  text-align: left;
}
.faq-question-title-active {
  color: #5282ff;
  line-height: 32px;
}

.faq-answer {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: justify;
  padding: 2px 0 8px 0;
}
.faq-arrow {
  height: 100%;
}
.faq-answer,
.faq-answer-desktop {
  color: #313131;
}
.faq-answer-desktop span,
.faq-answer span {
  color: #5282ff;
}
.FAQ-footer {
  background-color: #5282ff;
  padding: 17px 28px;
  border-radius: 2px;
}
.FAQ-footer h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.41px;
  text-align: left;
  color: white;
  text-transform: capitalize;
  padding-bottom: 7px;
  border-bottom: 1px solid #ffffff;
}
.FAQ-contact-sosial {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.FAQ-contact-us {
  display: flex;
  flex-direction: column;
}
.FAQ-contact-us h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: white;
}

.FAQ-sosial-icons {
  display: flex;
  align-self: flex-end;
}
.FAQ-sosial-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .faq-section {
    padding: 41px 0 120px 0;
  }
  .faq-container {
    flex-direction: row;
    gap: 40px;
    width: var(--desktop);
    padding-top: 41px;
  }
  .faq-left {
    width: 34%;
  }
  .faq-right {
    display: block;
    width: 64%;
  }
  .faq-questions {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    padding: 24px 21px;
  }
  .faq-question {
    background-color: white;
    border-radius: 10px;
  }
  .faq-question-title {
    font-size: 18px;
    line-height: 32px;
  }

  .faq-question .faq-answer {
    display: none;
  }
  .faq-answer-desktop {
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: justify;
  }
  .FAQ-footer {
    padding: 33px 38px;
    border-radius: 10px;
  }
  .FAQ-footer h5 {
    font-size: 24px;
    line-height: 29.11px;
    padding-bottom: 16px;
  }
  .FAQ-contact-sosial {
    flex-direction: column;
    gap: 0;
  }
  .FAQ-contact-us {
    padding: 47px 0;
  }
  .FAQ-contact-us h6 {
    font-size: 20px;
    line-height: 40px;
  }

  .FAQ-sosial-icons {
    align-self: inherit;
    margin-left: -15px;
  }
  .FAQ-sosial-icons img {
    width: 49px;
    height: 49px;
  }
  .faq-arrow {
    padding-top: 4px;
  }
}
@media (min-width: 1440px) {
  .faq-container {
    width: var(--big-desktop);
  }
}
